/*个人信息*/
.pernal_header{ display:flex;flex-flow:row;padding:32px;}
.index_content_comment_flex_ava{ width:95px;height:95px;margin:0px auto;border-radius: 50%;padding:15px;
  background:rgba(79,73,131,0.9);postion:relative;}
.index_content_comment_flex_ava::after{ position: absolute;z-index:100;content: '';width:12px;height:12px;margin-left:-5px;border-radius: 50%;background:#FF33D6;box-shadow: 0px 0px 2px 2px #FF33D6;}
.index_content_comment_flex_ava image{  width:95px;height:95px;border-radius: 50%;box-shadow: 0px 0px 8px 2px #ccc}

.pernal_header_right{ flex:1;margin-left: 48px;display:flex;flex-flow: column;margin-top:12px;}
.pernal_header_right_flex_title{ color:#fff;font-size:0.8em;height:40px;line-height: 40px;}
.pernal_header_right_flex_number{ height:80px;margin-top:24px;display:flex;flex-flow: row;}
.pernal_header_right_flex_number_flex{display:flex;flex-flow: column;margin-right: 60px}
.pernal_header_right_flex_number_flex_title{ font-size:0.6em;color:rgba(255,255,255,0.55);height:40px;line-height:40px;}
.pernal_header_right_flex_number_flex_num{ color:#fff;font-size:0.9em;margin-top:12px;}

/*列表*/
.pernal_list{ display:flex;flex-flow: row;margin:24px auto;padding:32px;}
.pernal_list_flex{ display:flex;flex-flow: column;flex:1;}
.pernal_list_flex_img{width:100px;height:100px;margin: 0px auto}
.pernal_list_flex>View{text-align: center;color:#fff;font-size: 0.7em;}
.pernal_list_flex_img image{ width:100px;height:100px;}
.pernal_list_flex_title{ margin-top:6px;}

/*观看历史*/
.pernal_content{width:90%;margin:3% auto;}
.pernal_content .index_content_header{display: flex;flex-flow: row;}
.pernal_content .index_title{color:#fff;font-size: 0.8em;font-weight:400;height:2em;line-height:2em;flex:1;}
.pernal_content_view{ display:flex;flex-flow: row;}
.pernal_content_view_flex{flex:1;text-align: center}
.pernal_content_view_flex image{width:150px;height:200px;margin:0px 32px 0px 0px;}
