.message_list{ width:90%;margin:0px auto;}
.message_list_item{ width:90%;margin-bottom:24px;border-radius: 10px;background-color:#2F2E4E;display:flex;flex-flow: row;padding:24px 5%;}
.message_list_item>View:first-child{width:75px;height:75px;border-radius: 50%;}
.message_list_item>View:first-child Image{width:75px;height:75px;}
.message_list_item>View:nth-child(2){margin-left: 48px;display: flex;flex-flow: column;}
.message_list_item_title{ display:block;color:#fff;font-size: 0.8em;display:flex;flex-flow: row;}
.message_list_item_title
.message_list_item_describe{ color:rgba(255,255,255,0.45);font-size: 0.6em;padding:5px 0px;width:520px;overflow: hidden;line-height:25px;text-overflow:ellipsis; white-space:nowrap;}

/*全部私信*/
.index_direct_messages{ margin-top: 24px;}
.index_direct_messages_item{ width:100%;border:1px solid red;display:flex;flex-flow: row}
.message_list_flex{ width:90%;margin-bottom:12px;border-radius: 10px;display:flex;flex-flow: row;padding:24px 5%;}
.message_list_flex>View:first-child{width:75px;height:75px;border-radius: 50%;}
.message_list_flex>View:first-child Image{width:75px;height:75px;border-radius: 50%;}
.message_list_flex>View:nth-child(2){margin-left: 24px;display: flex;flex-flow: column;}
