page{
  background-color:#1E1F33;
  font-family: SF Pro SC,SF Pro Text,SF Pro Icons,AOS Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.container{
  width:100%;
  min-height:100vh;
  background-color:#1E1F33;
}
@font-face {
  font-family: 'iconfont';  /* project id 730503 */
  src: url('http://at.alicdn.com/t/font_730503_b5h7ggr23io.eot');
  src: url('http://at.alicdn.com/t/font_730503_b5h7ggr23io.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_730503_b5h7ggr23io.woff') format('woff'),
  url('http://at.alicdn.com/t/font_730503_b5h7ggr23io.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_730503_b5h7ggr23io.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:27px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 20px;color:#4C4C80;
}
.icon-love:before { content: "\e658"; }/*喜爱*/
.icon-startCollect:before { content: "\e651"; }/*加星收藏*/
.icon-share:before { content: "\e650"; }/*分享*/
.icon-comment:before { content: "\e61e"; }/*对话信息*/

/*热门推荐*/
.index_content{width:90%;margin:3% auto;}
.index_content .index_content_header{display: flex;flex-flow: row;}
.index_content .index_title{color:#fff;font-size: 1em;font-weight:400;height:2em;line-height:2em;flex:1;}
.index_content .index_badge{color:#515360;border-radius: 1em;margin-top: 0.8em;padding:5px 15px;font-size: 0.5em;border:1px solid #515360;height:1.3em;line-height:1.3em;}

/*瀑布流*/
.free-WaterfallFlow{width:94%;column-count:2;/*column-count 属性规定元素应该被分隔的列数：*/}
.free-WaterfallFlow .flex-wrap{break-inside: avoid; box-sizing: border-box; padding: 10px;}
.flex-wrap Image{width:110%;margin:0 auto;}
